# Игнорировать файл .env
.env

# Игнорировать виртуальное окружение
.venv/
venv/
env/

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы .DS_Store (для macOS)
.DS_Store

# Игнорировать файлы настроек IDE
.idea/
.vscode/

# Игнорировать логи и базы данных
*.log
*.sqlite3

# Игнорировать директорию для сборки и дистрибуции
build/
dist/
*.egg-info/